.bannar {
    background-image: url("image/back-school.png.webp");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.welcome {

    font-size: 30px;
    color: white;
}